@font-face {
    font-family: "Victor Mono";
    src: url("/fonts/VictorMono-Regular.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Victor Mono";
    src: url("/fonts/VictorMono-Italic.woff2") format("woff2");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Victor Mono";
    src: url("/fonts/VictorMono-Bold.woff2") format("woff2");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Victor Mono";
    src: url("/fonts/VictorMono-BoldItalic.woff2") format("woff2");
    font-style: italic;
    font-weight: bold;
}

@import "../submodules/pico/scss/pico";

:root,
pre,
code,
kbd,
samp {
    --font-family: "Victor Mono", monospace;
}

a code, [role="link"] code {
    color: var(--primary);
}

a:is([aria-current], :hover, :active, :focus) code, [role="link"]:is([aria-current], :hover, :active, :focus) code {
    color: var(--primary-hover);
    text-decoration: underline;
}

/* Pink Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --primary: #d81b60;
    --primary-hover: #c2185b;
    --primary-focus: rgba(216, 27, 96, 0.125);
    --primary-inverse: #FFF;
}

/* Pink Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        --primary: #d81b60;
        --primary-hover: #e91e63;
        --primary-focus: rgba(216, 27, 96, 0.25);
        --primary-inverse: #FFF;
    }
}

/* Pink Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
    --primary: #d81b60;
    --primary-hover: #e91e63;
    --primary-focus: rgba(216, 27, 96, 0.25);
    --primary-inverse: #FFF;
}

/* Pink (Common styles) */
:root {
    --form-element-active-border-color: var(--primary);
    --form-element-focus-color: var(--primary-focus);
    --switch-color: var(--primary-inverse);
    --switch-checked-background-color: var(--primary);
}

body>header {
    --font-size: 2rem;
}

.about-me {
    align-items: center;
    margin-bottom: 3rem;

    h2 {
        text-align: center;
    }

    p {
        text-align: justify;
    }

    .headshot-container {
        display: grid;
        justify-content: center;
    }

    img {
        clip-path: circle();
        display: inline-block;
    }
}
