pre
{
  font-family: "Fira Code", monospace;
  display: inline-block;
  padding: 1em;
  border-radius: 1em;
  white-space: pre-wrap;

  color: #FAFAFA;
  background: #424242;
}

code
{
  font-family: "Fira Code", monospace;
}

.hljs-keyword, .hljs-built_in, .hljs-bullet, .hljs-tag
{
  color: #F06292;
  font-weight: bold;
}

.hljs-regexp, .hljs-doctag, .hljs-meta

{
  color: #9575CD;
}

.hljs-string, .hljs-number
{
  color: #F48FB1;
}

.hljs-type, .hljs-literal, .hljs-symbol, .hljs-class, .hljs-attribute
{
  color: #CE93D8;
}

.hljs-comment
{
  color: #9E9E9E;
}

.hljs-meta-keyword, .hljs-strong
{
  font-weight: bold;
}

.hljs-title, .hljs-name, .hljs-subst
{
  color: #F06292;
}

.hljs-emphasis
{
  font-style: italic;
}

.hljs-formula, .hljs-quotation, .hljs-link
{
  color: #7E57C2;
}

.hljs-addition
{
  background-color: #294436;
}

.hljs-deletion
{
  background-color: #45302B;
}
