<!doctype html>
<html lang="en">
    <head>
        <link href="/static/img/apple-touch-icon-57x57.png" rel="apple-touch-icon-precomposed" sizes="57x57">
        <link href="/static/img/apple-touch-icon-114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114">
        <link href="/static/img/apple-touch-icon-72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72">
        <link href="/static/img/apple-touch-icon-144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144">
        <link href="/static/img/apple-touch-icon-120x120.png" rel="apple-touch-icon-precomposed" sizes="120x120">
        <link href="/static/img/apple-touch-icon-152x152.png" rel="apple-touch-icon-precomposed" sizes="152x152">
        <link href="/static/img/favicon-32x32.png" type="image/png" rel="icon" sizes="32x32">
        <link href="/static/img/favicon-16x16.png" type="image/png" rel="icon" sizes="16x16">
        <meta content="typedr.at" name="application-name">
        <meta content="#FBFBFB" name="msapplication-TileColor">
        <meta content="/static/img/mstile-144x144.png" name="msapplication-TileImage">
        <meta charset="UTF-8">
        <script async="true" src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.js"></script>
        <script async="true" src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/contrib/auto-render.min.js"></script>
        <script async="true" src="/static/highlight.js"></script>
        <script defer="true" src="/static/all.js"></script>
        <script>
            window.addEventListener('load', function () { hljs.initHighlighting(); renderMathInElement(document.body); });
        </script>
        <link href="https://code.cdn.mozilla.net/fonts/fira.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.7.1/katex.min.css" rel="stylesheet">
        <link href="/static/all.css" rel="stylesheet">
        <title>guest@typedr.at:$path$&gt; $cmd$</title>
    </head>
    <body class="light">
        <header>
            <section class="header">
                <span id="header-toggle">
                    <span id="header-lambda">λ </span><span id="header-username">guest</span></span><span id="header-at">@</span><a href="/">typedr.at</a><span id="header-pathsep">:</span>$path$<span id="header-prompt">&gt; </span><span id="header-command">$cmd$</span></section>
        </header>
        <div class="body">
            <aside><img src="/static/img/headshot.png">
                <h1>Alexis Williams</h1>
                <h2>Student, Haskell aficionado, programming sell-sword.</h2>
            </aside>
            
            $body$
        </div>
        <footer>
            © 2017-2018 Alexis Williams.
            <p>
                <a href="https://github.com/typedrat/typedrat.github.io">This site&#39;s code</a> is under the terms of the <a href="https://choosealicense.com/licenses/gpl-3.0/">GNU General Public License v3.0</a>.
                
                The content of this site is under the terms of the
                <a href="https://choosealicense.com/licenses/mit/">MIT License</a>, except for code excerpts from existing projects, which maintain the same licensing as the original project from which they were extracted.
            </p>
        </footer>
    </body>
</html>
